:root {
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
    --font: 'Roboto Mono', monospace;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    font-weight: 400;
    background-color: var(--lightGray);
    text-align: center;
}

.main {
    background-color: var(--white);
    width: 30%;
    border-radius: 20%;
    margin: auto;
    margin-top: 5rem;
}

.box {
    padding: 2rem;
}

.title {
    font-weight: 700;
}

.image img {
    border-radius: 20%;
    max-width: 100%;
    height: auto;
}